/* body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Roboto', serif;
	font-size: 12pt;
	line-height: 1.7;
}

.App {
}

.Header {
	display: grid;
	grid-template-columns: 8fr 2fr;
	align-items: center;
	justify-content: space-around;
	font-family: 'Gurajada';
	position: sticky;
	background-color: white;
	width: 100vw;
	top: 0;
	background-color: #f3f3f3;
}

.Header > ul {
	margin: 0;
}

.header-btn,
a {
	background-color: transparent;
	border: 0;
	font-family: 'Gurajada', serif;
	font-size: 30pt;
	transition: 0.4s;
}

.header-btn:hover,
a:hover {
	color: #4b5e74;
	opacity: 100%;
	transition: 0.4s;
	cursor: pointer;
	letter-spacing: 5px;
}

.resume-btn {
	background-color: transparent;
	border: 0;
	font-family: 'Gurajada', serif;
	font-size: 30pt;
	transition: 0.2;
	color: #4b5e74;
}

.resume-btn:hover {
	color: #4b5e74;
	opacity: 100%;
	transition: 0.2s;
	cursor: pointer;
	color: green;
	letter-spacing: 5px;
}

.social-icons {
	opacity: 80%;
}

.social-icons:hover {
	opacity: 100%;
}

.About {
	padding: 5em;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	line-height: 1.7;
	align-content: center;
	font-size: 16pt;
}

.About > img {
	border-radius: 10em;
	width: 300px;
	height: 300px;
	margin: 2em;
}

.About > content > p > span {
	font-weight: bold;
	color: #4b5e74;
}

.About > content > p > ul {
	display: flex;
	list-style: none;
}

.About > content > p > ul > li {
	margin: 0.5em;
}

.About > content > p {
	max-width: 80ch;
}

.About > content > h1 > span {
	color: #4b5e74;
	opacity: 8%;
}

.Projects {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: flex-start;
}

.Projects > h1 {
	text-align: center;
	max-width: 60ch;
}

.project-item-1-container,
.project-item-2-container,
.project-item-3-container,
.project-item-4-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	padding: 5rem 10rem;
}

.project-item-2-container,
.project-item-3-container,
.project-item-4-container {
	margin-top: 2em;
}

.project-item-desc > p {
	padding: 1rem 2rem;
}

.project-item-desc > h1 {
	background-color: #7e9ec3;
	font-size: 36pt;
	text-transform: lowercase;
	padding: 0 1em;
	text-align: left;
	margin: 0;
	letter-spacing: -2px;
}

.project-item > h2 {
	font-size: 14pt;
	font-weight: normal;
}

.project-item > img {
	width: 300px;
	height: 160px;
	margin: 2px;
}

.project-item {
	text-align: center;
}
.project-item-1-container,
.project-item-3-container {
	background-color: #f3f3f3;
}

p {
	max-width: 60ch;
}

.Skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5em;
	height: 100vh;
	margin: 0 auto;
	background-color: #f3f3f3;
	align-content: center;
}

.applications-column-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.soft-skills-column,
.front-end-column,
.back-end-column,
.applications-column {
	margin: 0em 3em;
	border-radius: 10px;
}

.soft-skills-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.front-end-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.back-end-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.applications-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.Experience {
	display: flex;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	height: 100vh;
	align-content: center;
}

.experience-item {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 5em;
	overflow-x: hidden;
	height: 450px;
	width: 450px;
	cursor: pointer;
	opacity: 80%;
	transition: 0.5s;
}

.experience-item:hover {
	opacity: 100%;
	transition: 0.6s;
}

.experience-item::-webkit-scrollbar {
	width: 2px;
}

.experience-item-title {
	background-color: #7e9ec3;
	font-size: 16pt;
	text-transform: lowercase;
	line-height: 1;
	padding: 0.5em;
	height: 500px;
	box-shadow: 1em 2em #f3f3f3;
}

.experience-item-list {
	background-color: #f3f3f3;
	padding: 1em;
	border-radius: 10px;
}

.experience-item-list > h2 {
	margin-bottom: -15px;
	margin-top: 0;
	color: #4b5e74;
	line-height: 1.4;
}

li {
	transition: 0.5s;
	padding: 3px;
}

li:hover {
	border-radius: 10px;
	transition: 0.5s;
}

.Header > ul > li {
	display: inline;
	list-style: none;
	margin: 0.5em;
	font-size: 26pt;
}

h1 {
	background-color: #7e9ec3;
	font-size: 36pt;
	text-transform: lowercase;
	padding: 0 1em;
	text-align: left;
	margin: 0;
	letter-spacing: -2px;
}

.About > content > h1 {
	background-color: white;
	padding: 0;
}

.mobile-header {
	display: none;
} */

@media all and (min-width: 414px) {
	body {
		overflow-x: hidden;
		font-size: 16pt;
		line-height: 1.7;
	}

	/* p {
		max-width: 60ch;
	} */

	a {
		font-weight: bold;
		/* letter-spacing: -2px; */
		margin: 0.25em;
		cursor: pointer;
		font-family: 'Gurajada', serif;
		font-size: 20pt;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
		color: #4b5e74;
	}

	a:active,
	a:visited {
		color: #4b5e74;
	}

	.App {
		min-width: 414px;
	}

	img {
		width: 300px;
		height: 300px;
	}

	.desktop-header {
		display: none;
	}

	.mobile-header {
		display: flex;
		background-color: #f3f3f3;
		justify-content: center;
		width: 100vw;
	}

	.mobile-header > ul {
		list-style-type: none;
		padding: 0;
	}
	.mobile-header > ul > li {
		display: inline;
		list-style-type: none;
		margin: 0em 0.1em;
	}

	.About {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
	}

	.About > img {
		height: 200px;
		width: 200px;
		border-radius: 100px;
		margin: 2em;
	}

	.About > content > p > span {
		font-weight: bold;
		color: #4b5e74;
	}

	.About > content > h1 > span {
		color: #4b5e74;
		opacity: 10%;
	}

	.Projects {
		padding: 2em;
		background-color: #f3f3f3;
	}

	.project-item {
		display: none;
	}

	.Skills {
		padding: 2em;
	}

	.Experience {
		/* display: flex;
		flex-direction: column;
		padding: 2em; */
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		justify-items: center;
		background-color: #f3f3f3;
		margin: 0 auto;
	}

	.experience-item-title {
		background-color: #7e9ec3;
		font-size: 16pt;
		text-transform: lowercase;
		line-height: 1;
		padding: 0.5em;
		margin: 1em;
		height: 300px;
		width: 300px;
		cursor: pointer;
		transition: 0.5s;
	}

	.experience-item-title:hover {
		background-color: #a9c3e0;
		transition: 0.5s;
	}

	h1 {
		background-color: #7e9ec3;
		font-size: 36pt;
		text-transform: lowercase;
		padding-left: 10px;
		padding-bottom: 10px;
		text-align: left;
		margin: 0;
		letter-spacing: -2px;
	}

	.experience-item-list {
		max-width: 60ch;
		padding: 1em;
		transition: 0.5s;
	}

	.experience-item-list:hover {
		background-color: rgb(219, 217, 217);
		transition: 0.5s;
		cursor: pointer;
		box-shadow: 1em 1em lightgray;
	}

	.experience-item-list > h2 {
		font-size: 24pt;
		line-height: 1.2;
		color: #4b5e74;
		text-align: left;
		letter-spacing: -2px;
	}

	.experience-item-list > h3 {
		font-size: 18pt;
		line-height: 1.2;
		color: #7e9ec3;
		text-align: left;
		margin-top: -20px;
		letter-spacing: -2px;
	}

	.animated .slideInUp > ul > li {
		padding: 0;
	}

	.About > content > h1 {
		background-color: white;
		padding: 0;
		text-align: center;
	}

	.section-title {
		text-transform: uppercase;
		margin: 1em 0em;
		background-color: transparent;
		border-bottom: solid 5px #4b5e74;
		text-align: center;
	}
}
