/* body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Roboto', serif;
	font-size: 12pt;
	line-height: 1.7;
}

.App {
}

.Header {
	display: grid;
	grid-template-columns: 8fr 2fr;
	align-items: center;
	justify-content: space-around;
	font-family: 'Gurajada';
	position: sticky;
	background-color: white;
	width: 100vw;
	top: 0;
	background-color: #f3f3f3;
}

.Header > ul {
	margin: 0;
}

.header-btn,
a {
	background-color: transparent;
	border: 0;
	font-family: 'Gurajada', serif;
	font-size: 30pt;
	transition: 0.4s;
}

.header-btn:hover,
a:hover {
	color: #4b5e74;
	opacity: 100%;
	transition: 0.4s;
	cursor: pointer;
	letter-spacing: 5px;
}



.social-icons {
	opacity: 80%;
}

.social-icons:hover {
	opacity: 100%;
}

.About {
	padding: 5em;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	line-height: 1.7;
	align-content: center;
	font-size: 16pt;
}

.About > img {
	border-radius: 10em;
	width: 300px;
	height: 300px;
	margin: 2em;
}

.About > content > p > span {
	font-weight: bold;
	color: #4b5e74;
}

.About > content > p > ul {
	display: flex;
	list-style: none;
}

.About > content > p > ul > li {
	margin: 0.5em;
}

.About > content > p {
	max-width: 80ch;
}

.About > content > h1 > span {
	color: #4b5e74;
	opacity: 8%;
}

.Projects {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: flex-start;
}

.Projects > h1 {
	text-align: center;
	max-width: 60ch;
}

.project-item-1-container,
.project-item-2-container,
.project-item-3-container,
.project-item-4-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	padding: 5rem 10rem;
}

.project-item-2-container,
.project-item-3-container,
.project-item-4-container {
	margin-top: 2em;
}

.project-item-desc > p {
	padding: 1rem 2rem;
}

.project-item-desc > h1 {
	background-color: #7e9ec3;
	font-size: 36pt;
	text-transform: lowercase;
	padding: 0 1em;
	text-align: left;
	margin: 0;
	letter-spacing: -2px;
}

.project-item > h2 {
	font-size: 14pt;
	font-weight: normal;
}

.project-item > img {
	width: 300px;
	height: 160px;
	margin: 2px;
}

.project-item {
	text-align: center;
}
.project-item-1-container,
.project-item-3-container {
	background-color: #f3f3f3;
}

p {
	max-width: 60ch;
}

.Skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5em;
	height: 100vh;
	margin: 0 auto;
	background-color: #f3f3f3;
	align-content: center;
}

.applications-column-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.soft-skills-column,
.front-end-column,
.back-end-column,
.applications-column {
	margin: 0em 3em;
	border-radius: 10px;
}

.soft-skills-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.front-end-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.back-end-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.applications-column > h1 {
	background-color: #7e9ec3;
	text-transform: lowercase;
}

.Experience {
	display: flex;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	height: 100vh;
	align-content: center;
}

.experience-item {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 5em;
	overflow-x: hidden;
	height: 450px;
	width: 450px;
	cursor: pointer;
	opacity: 80%;
	transition: 0.5s;
}

.experience-item:hover {
	opacity: 100%;
	transition: 0.6s;
}

.experience-item::-webkit-scrollbar {
	width: 2px;
}

.experience-item-title {
	background-color: #7e9ec3;
	font-size: 16pt;
	text-transform: lowercase;
	line-height: 1;
	padding: 0.5em;
	height: 500px;
	box-shadow: 1em 2em #f3f3f3;
}

.experience-item-list {
	background-color: #f3f3f3;
	padding: 1em;
	border-radius: 10px;
}

.experience-item-list > h2 {
	margin-bottom: -15px;
	margin-top: 0;
	color: #4b5e74;
	line-height: 1.4;
}

li {
	transition: 0.5s;
	padding: 3px;
}

li:hover {
	border-radius: 10px;
	transition: 0.5s;
}

.Header > ul > li {
	display: inline;
	list-style: none;
	margin: 0.5em;
	font-size: 26pt;
}

h1 {
	background-color: #7e9ec3;
	font-size: 36pt;
	text-transform: lowercase;
	padding: 0 1em;
	text-align: left;
	margin: 0;
	letter-spacing: -2px;
}

.About > content > h1 {
	background-color: white;
	padding: 0;
}

.mobile-header {
	display: none;
} */

@media all {
	body {
		overflow-x: hidden;
		font-size: 16pt;
		line-height: 1.6;
	}

	a {
		font-weight: bold;
		/* letter-spacing: -2px; */
		margin: 0.25em;
		cursor: pointer;
		font-family: 'Gurajada', serif;
		font-size: 20pt;
		text-decoration: none;
		color: black;
		transition: 0.5s;
	}

	a:hover {
		text-decoration: underline;
		color: #4b5e74;
		transition: 0.5s;
	}

	a:active,
	a:visited {
		color: #4b5e74;
	}

	.App {
		min-width: 414px;
		overflow-x: hidden;
	}

	.Home {
		display: flex;
		flex-direction: column;
		height: 100vh;
		align-items: center;
		justify-content: center;
	}

	/* Position and sizing of burger button */
	.bm-burger-button {
		position: fixed;
		width: 36px;
		height: 30px;
		left: 36px;
		top: 36px;
	}

	/* Color/shape of burger icon bars */
	.bm-burger-bars {
		background: #4b5e74;
		transition: 0.5s;
	}

	/* Color/shape of burger icon bars on hover*/
	.bm-burger-bars-hover {
		background: #7e9ec3;
		transition: 0.5s;
	}

	/* Position and sizing of clickable cross button */
	.bm-cross-button {
		height: 24px;
		width: 24px;
	}

	/* Color/shape of close button cross
	.bm-cross {
		background: #bdc3c7;
	}

	/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
	.bm-menu-wrap {
		position: fixed;
		height: 100%;
	}

	/* General sidebar styles */
	.bm-menu {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(75, 94, 116, 1) 100%,
			rgba(126, 158, 195, 1) 100%
		);
		padding: 2.5em 1.5em 0;
		font-size: 1.15em;
	}

	/* Morph shape necessary with bubble or elastic */
	.bm-morph-shape {
		fill: #373a47;
	}

	/* Wrapper for item list */
	.bm-item-list {
		color: #b8b7ad;
		padding: 0.8em;
	}

	/* Individual item */
	.bm-item {
		display: inline-block;
	}

	.menu-logo {
		height: 100px;
		width: 150px;
	}

	/* Styling of overlay */
	.bm-overlay {
		background: rgba(0, 0, 0, 0.3);
	}

	.menu-item-css {
		color: white;
	}

	.menu-item:hover {
		color: #4b5e74;
	}

	.menu-btn {
		/* padding: 0em; */
		/* margin: 20em; */
	}

	h1 {
		background-color: #7e9ec3;
		font-size: 36pt;
		text-transform: lowercase;
		padding-left: 10px;
		padding-bottom: 10px;
		text-align: left;
		margin: 0;
		letter-spacing: -2px;
	}

	.logo-div-container {
		/* background-color: #a9c3e0; */
		padding: 0em 3em;
	}

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo-title-container {
		font-family: 'Roboto', serif;
		list-style: none;
		line-height: 1;
		text-align: center;
	}

	.animated.fadeInUpBig > h1 {
		/* border-top: solid 1px lightgray; */
		background-color: white;
		padding-top: 0.5em;
		font-size: 40pt;
		text-align: left;
		margin-bottom: 0.25em;
	}

	.logo-title-container > li {
		letter-spacing: 1.25px;
		margin-left: 0em;
		text-transform: uppercase;
		font-size: 14pt;
	}

	.down-container {
		text-align: left;
		margin: 0;
	}

	.down {
		background-color: #a9c3e0;
		border: 0;
		padding: 1em 0em;
		width: 235.61px;
		font-family: 'Roboto';
		font-weight: bold;
		font-size: 14pt;
		transition: 0.7s;
		letter-spacing: -2px;
		/* text-align: left; */
		margin-top: 1em;
		margin-left: -0.4em;
		color: black;
	}

	.down:hover {
		background-color: #8eb5e2;
		transition: 0.7s;
		border-radius: 2em;
		color: white;
	}

	.logo {
		font-size: 150pt;
		font-weight: bold;
	}

	.logo-container {
		/* background-color: lightgray; */
	}
	.j {
		transform: rotate(15deg);
		color: #4b5e74;
	}

	.w {
		transform: rotate(30deg);
		color: #7e9ec3;
	}

	.title {
		font-size: 24pt;
		line-height: 0.9;
		letter-spacing: -2px;
	}

	.Header {
		text-transform: uppercase;
	}

	.resume-btn {
		background-color: white;
		border: 0;
		transition: 0.2;
		color: #4b5e74;
		text-transform: uppercase;
		border-radius: 1em;
		margin: 1em 0em;
		width: 150px;
		height: 50px;
		padding: 0;
		transition: 0.5s;
	}

	.resume-btn:hover {
		background-color: #a9c3e0;
		cursor: pointer;
		transition: 0.5s;
	}

	.resume-btn > a:hover {
		color: #4b5e74;
		opacity: 100%;
		transition: 0.2s;
		text-decoration: none;
	}

	.About {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
		height: 100vh;
	}

	.About > img {
		height: 200px;
		width: 200px;
		border-radius: 100px;
		margin: 2em;
	}

	.About > content > p {
		max-width: 60ch;
	}

	.About > content > p > center > img {
		height: 25%;
		width: 25%;
		margin: 0;
	}

	.About > content > p > span {
		font-weight: bold;
		color: #4b5e74;
	}

	.About > content > h1 > span {
		color: #4b5e74;
		opacity: 10%;
	}

	.Projects {
		padding: 2em;
		background-color: #f3f3f3;
	}

	.project-item-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		height: 200px;
		width: 300px;
		margin: 1em;
	}

	.project-item {
		max-width: 70ch;
		padding: 1em;
		margin-bottom: 1em;
		min-height: 300px;
		background-color: white;
	}

	.project-item:hover {
		transition: 0.5s;
		cursor: pointer;
		background-color: white;
		box-shadow: 1em 1em lightgray;
	}

	.project-item-desc {
		background-color: #a9c3e0;
		font-size: 16pt;
		text-transform: lowercase;
		line-height: 1;
		padding: 0.5em;
		margin: 1em;
		height: 300px;
		width: 300px;
		cursor: pointer;
		transition: 0.5s;
	}

	.project-item-desc:hover {
		background-color: #8ab1df;
		transition: 0.5s;
	}

	.project-item > h2 {
		font-size: 24pt;
		line-height: 1.2;
		color: #4b5e74;
		text-align: left;
		letter-spacing: -2px;
		text-transform: capitalize;
	}

	.project-item > h4 > a {
		font-size: 30pt;
		color: black;
		background-color: #a9c3e0;
		padding: 0em 0.5em;
		border-radius: 0.5em;
		transition: 0.5s;
	}

	.project-item > h4 > a:hover {
		font-size: 30pt;
		color: white;
		background-color: green;
		padding: 0em 0.5em;
		border-radius: 0.5em;
		transition: 0.5s;
		text-decoration: none;
	}

	.project-item > h4 > a > span {
		background-color: #c3c9e6;
		padding: 0em 0.5em;
		border-radius: 0.5em;
	}

	.project-item > h3 {
		font-size: 18pt;
		line-height: 1.2;
		color: #7e9ec3;
		text-align: left;
		margin-top: -20px;
		letter-spacing: -2px;
	}

	.Experience {
		padding: 2em;
		background-color: #f3f3f3;
	}

	.experience-item-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.experience-item-title {
		background-color: #7e9ec3;
		font-size: 16pt;
		text-transform: lowercase;
		line-height: 1;
		padding: 0.5em;
		margin: 1em;
		height: 300px;
		width: 300px;
		cursor: pointer;
		transition: 0.5s;
	}

	.experience-item-title:hover {
		background-color: #a9c3e0;
		transition: 0.5s;
	}

	.experience-item-list {
		max-width: 60ch;
		padding: 1em;
		transition: 0.5s;
		margin: 1em;
	}

	.experience-item-list:hover {
		transition: 0.5s;
		cursor: pointer;
		box-shadow: 1em 1em lightgray;
	}

	.experience-item-list > h2 {
		font-size: 24pt;
		line-height: 1.2;
		color: #4b5e74;
		text-align: left;
		letter-spacing: -2px;
	}

	.experience-item-list > h3 {
		font-size: 18pt;
		line-height: 1.2;
		color: #7e9ec3;
		text-align: left;
		margin-top: -20px;
		letter-spacing: -2px;
	}

	.animated .slideInUp > ul > li {
		padding: 0;
	}

	.About > content > h1 {
		background-color: white;
		padding: 0;
		text-align: center;
	}

	.section-title {
		text-transform: uppercase;
		margin: 1em 0em;
		background-color: transparent;
		border-bottom: solid 5px #4b5e74;
		text-align: center;
	}

	.Skills {
		padding: 2em;
	}

	.skills-div-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.skills-list {
		width: 60ch;
		max-width: 60ch;
		padding: 1em;
		margin-bottom: 1em;
		min-height: 300px;
	}

	.skills-list:hover {
		transition: 0.5s;
		cursor: pointer;
		box-shadow: 1em 1em lightgray;
	}

	.skills-title {
		background-color: white;
		box-shadow: 0.5em 0.5em #4b5e74;
		font-size: 16pt;
		text-transform: lowercase;
		line-height: 1;
		padding: 0.5em;
		margin: 1em;
		height: 100px;
		width: 300px;
		cursor: pointer;
		transition: 0.5s;
	}

	.skills-title:hover {
		background-color: #a9c3e0;
		transition: 0.5s;
	}

	.skills-list > h2 {
		font-size: 24pt;
		line-height: 1.2;
		color: #4b5e74;
		text-align: left;
		letter-spacing: -2px;
		text-transform: capitalize;
	}

	.Footer {
		width: 100vw;
		padding: 2em;
	}

	.buttons {
		text-align: center;
	}
}
